
.main{
  padding: 0 20px 0 20px;
  background-color: #ff5202;
  box-shadow: #00000081 2px 3px 3px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  justify-content: center;
}
main:hover{
  background-color: #bf3b00;
  box-shadow: #00000088 2px 2px 2px;
}
.text{
  fontSize: 16px;
  color: #111;
}
